 
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}
   
 
  <div class="gauche">
    <div class="titre">Les maths du jour</div>
    <ul >
      {% for match in listeMatch %}
      <li class ="news">
        <ul>
          <li>{{match['NomEq1']}}</li>
          <li>{{match['Eq1But']}} : </li>
          <li>{{match['Eq2But']}}</li>
          <li>{{match['NomEq2']}}</li>
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="droite">
   <div class="titre">Pour le foot </div>
   <h1>Notre div droite</h1>
  </div>
  
{% endblock %}