
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block body %}

			<div class="bloc_middle">

				<div class="table_container">
					<div class="table_titre">MATCHS DU JOUR</div>
						<div class="table_ligue">					
							<div class="subheader_container">
								<div class="subheader"> Championnat B </div>
							</div>
							<table class="table_match">
							  <tbody>
							    <tr class="unselectable tr_match">
							      <td>
							      	<span class="match_state_end">FIN</span>
							      </td>
							      <td class="team_a">Leicester</td>
							      <td class="team_mid">-</td>
							      <td class="team_b">Manchester</td>
							    </tr>
							    <tr class="unselectable tr_match">
							      <td>
							      	<span class="match_state_now">42'</span>
							      </td>
							      <td class="team_a">BCA</td>
							       <td class="team_mid">-</td>
							      <td class="team_b">PSG</td>
							    </tr>
							    <tr class="unselectable tr_match">
							      <td>
							      	<span class="match_state_hours">15h00</span>
							      </td>
							      <td class="team_a">Larry</td>
							       <td class="team_mid">-</td>
							      <td class="team_b">the Bird</td>
							    </tr>


							    {% for match in listeMatch %}
							    <tr class="unselectable tr_match">
							      <td>
							      	<span class="match_state_hours">15h00</span>
							      </td>
							      <td class="team_a">{{match['NomEq1']}}</td>
							       <td class="team_mid">  
							       		<a href="{{ path('statisfoot_match', {'id': match['idMatch']}) }}">
							        		{{match['Eq1But']}} - {{match['Eq2But']}}
							       		</a>
							       </td>
							      <td class="team_b">{{match['NomEq2']}}</td>
							    </tr>
							    {% endfor %}
							  </tbody>
							</table>
						</div>
					
				</div>

				<div class="table_championnat_container">
					<div class="table_championat">
						<table>
							<tbody class="">
								<tr class="tr_championnat unselectable">
									<td class="unselected">
										CHAMPIONNAT A
									</td>
								</tr>
								<tr class="tr_championnat unselectable">
									<td class="selected">
										CHAMPIONNAT B
									</td>
								</tr>
								<tr class="tr_championnat unselectable">
									<td class="unselected">
										CHAMPIONNAT C
									</td>
								</tr>
								<tr class="tr_championnat unselectable">
									<td class="unselected">
										CHAMPIONNAT D
									</td>
								</tr>
								<tr class="tr_championnat unselectable">
									<td class="unselected">
										CHAMPIONNAT E
									</td>
								</tr>
								<tr class="tr_championnat unselectable">
									<td class="unselected">
										CHAMPIONNAT F
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>


			</div>
{% endblock %}