{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Preparation du Match{% endblock %}

{% block body %}
<div class="bloc_middle">
	<div class="table_titre">
		<div class="match_result_container">
			<div class = match_result>
				<div class="team_a_match">
					{{matchEquipe[0].equipe.nom}}
					<div class="score_match"> {{ matchEquipe[0].butMarq }} </div>
				</div>
				<div class="team_mid_match">
					  - 
				</div>
				<div class="team_b_match">
					{{matchEquipe[1].equipe.nom}}
					<div class="score_match"> {{ matchEquipe[1].butMarq }} </div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<div id="compo">
		<div id="remp">
			<h3>Les Remplaçants</h3>
			<table class="table_match">
				<tr class="head_tab"> 
					<td> N°</td>
					<td>Nom</td>
					<td>Poste</td>
				</tr>
				{% for remp in remplacants%}
					<tr class="unselectable tr_match">
						<td>
							<span class="boule draggable" data-id="{{remp['joueur'].id}}" data-nom="{{remp['joueur'].nomJ}}" data-pre="{{remp['joueur'].prenomJ}}" data-poste="{{remp['poste']}}" draggable="true">
							   {{remp['joueur'].id}}
							</span>
						</td><td>								
							{{remp['joueur'].nomJ}}
							{{remp['joueur'].prenomJ}}
						</td><td>
							{{remp['poste']}}
						</td>				
					</tr>
				{% endfor %}
			</table>
		</div>
		
		<div id="titu">
			<h3>Les Titulaires</h3>
			<table class="table_match">
				<tr class="head_tab"> 
					<td> N°</td>
					<td>Nom</td>
					<td>Poste</td>
				</tr>
				{% for tit in titulaires %}
					<tr class="unselectable tr_match joueur">
						<td class="titulaire">
							<span class="boule dropper draggable" data-id="{{tit['joueur'].id}}" data-nom="{{tit['joueur'].nomJ}}" data-pre="{{tit['joueur'].prenomJ}}" data-poste="{{tit['poste']}}">
							   {{tit['joueur'].id}}
							</span>
						</td><td>								
							{{tit['joueur'].nomJ}}
							{{tit['joueur'].prenomJ}}
						</td><td>
							{{tit['poste']}}
						</td>
						<td>
							<ul class="boiteAction" data-id="{{tit['joueur'].id}}" data-match="{{ match.id }}">
								<li class="bouton but"  data-action="1"> But 
									<ul class="s_list">
										<li class="bouton" data-type="1"> Tête 
											<ul class="ss_list">
												<li class="bouton type_action" data-type="2"> Corner </li>
												<li class="bouton type_action" data-type="1"> Contre Attaque </li>
												<li class="bouton type_action" data-type="3"> Cf indirect </li>
												<li class="bouton type_action" data-type="4"> A. Collect </li>
											</ul>
										</li>
										<li class="bouton" data-type="2"> Frappe 
											<ul class="ss_list">
												<li class="bouton type_action" data-type="2"> Corner </li>
												<li class="bouton type_action" data-type="1"> Contre Attaque </li>
												<li class="bouton type_action" data-type="3"> Cf indirect </li>
												<li class="bouton type_action" data-type="4"> A. Collect </li>
											</ul>
										</li>
										<li class="bouton" data-type="3"> Tir Enrobé 
											<ul class="ss_list">
												<li class="bouton type_action" data-type="2"> Corner </li>
												<li class="bouton type_action" data-type="1"> Contre Attaque </li>
												<li class="bouton type_action" data-type="3"> Cf indirect </li>
												<li class="bouton type_action" data-type="4"> A. Collect </li>
											</ul>
										</li>
										<li class="bouton" data-type="4"> Tir Lobé 
											<ul class="ss_list">
												<li class="bouton type_action" data-type="2"> Corner </li>
												<li class="bouton type_action" data-type="1"> Contre Attaque </li>
												<li class="bouton type_action" data-type="3"> Cf indirect </li>
												<li class="bouton type_action" data-type="4"> A. Collect </li>
											</ul>
										</li>
										<li class="bouton" data-type="5"> R. Volée 
											<ul class="ss_list">
												<li class="bouton type_action" data-type="2"> Corner </li>
												<li class="bouton type_action" data-type="1"> Contre Attaque </li>
												<li class="bouton type_action" data-type="3"> Cf indirect </li>
												<li class="bouton type_action" data-type="4"> A. Collect </li>
											</ul>
										</li>
										<li class="bouton type_but" data-type="6"> Penalty </li>
										<li class="bouton type_but" data-type="7"> Cf Direct </li>
										<li class="bouton type_but" data-type="8"> CSC </li>
									</ul>
								</li>
								<li class="bouton passe" data-action="2"> Passe Dec 
									<ul class="s_list">
										<li class="bouton type_passe" data-type="2"> C. Corner </li>
										<li class="bouton type_passe" data-type="1"> C. Cf  </li>
										<li class="bouton type_passe" data-type="3"> Centre </li>
										<li class="bouton type_passe" data-type="6"> P. Simple </li>
										<li class="bouton type_passe" data-type="4"> P. Travers </li>
										<li class="bouton type_passe" data-type="5"> P. Dessus </li>
									</ul>
								</li>
								<li class="bouton simple" data-action="11"> Tir Cadré </li>
								<li class="bouton simple" data-action="3"> Duel Gagné </li>
								<li class="bouton simple" data-action="4"> Interception </li>
								<li class="bouton simple" data-action="5"> Recupèration </li>
								<li class="bouton simple" data-action="6"> Tacle Reussi </li>
								<li class="bouton simple" data-action="7"> Arret </li>
								<li class="bouton simple" data-action="8"> Centre Reussi </li>
								<li class="bouton simple" data-action="9"> Carton Jaune  </li>
								<li class="bouton simple" data-action="10"> Carton Rouge </li>
							</ul>
						</td>				
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{%endblock%}
