{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{match[0].id}}{% endblock %}

{% block body %}
 
	
	<div class="table_titre">{{infodate}}</div>
	
	<div class =news>
	{{match[0].equipe.nom}}
	{{match[0].ButMarq}}
	{{match[0].ButEnc}}
	{{match[1].equipe.nom}}
	</div>
	<div >
	<h3>Resultats des derniers confrontations </h3>
	{{eq1VSeq2[0].NomEq1  }} :
	{%for eq1eq2 in eq1VSeq2 %}
		{% if eq1eq2.NomEq1 != eq1VSeq2[0].NomEq1 %}
			
			{% if eq1eq2.Eq2But > eq1eq2.Eq1But %}
				V
			{%elseif eq1eq2.Eq2But == eq1eq2.Eq1But %}
			    N
			{%else%}
			     D
			{%endif%}
		{%endif%}
	{%endfor%}
	</br>
	{{eq1VSeq2[1].NomEq1  }}:
	{%for eq1eq2 in eq1VSeq2 %}
		{% if eq1eq2.NomEq1 != eq1VSeq2[0].NomEq1 %}
			
			{% if eq1eq2.Eq2But < eq1eq2.Eq1But %}
				V
			{%elseif eq1eq2.Eq2But == eq1eq2.Eq1But %}
			    N
			{%else%}
			     D
			{%endif%}
		{%endif%}
	{%endfor%}
	</div>
	
	{% set Eq1nom = adversaires[0].NomEq1 %}</br>
	{% set flag1 = 0 %}
	{%set flag2 = 0 %}

			  
	{%for ad in adversaires %}
	
		{% if Eq1nom == ad.NomEq1 %}
			{% if flag1 == 0 %}
				<h3>Les derniers Matchs de {{ad.NomEq1}}</h3>
				{% set flag1 = 1 %}
			{%endif%}
				{{ad.NomEq1 }} 
				{{ad.Eq1But }} {{ad.Eq2But }}
				{{ad.NomEq2}} 
				</br>

		{% else %}
			{% if flag2 == 0 %}
				 <h3>Les derniers Matchs de {{ad.NomEq1}} </h3>
				{% set flag2 = 1 %}
			{%endif%}
		
			{{ad.NomEq1 }} 
			{{ad.Eq1But }} {{ad.Eq2But }}
			{{ad.NomEq2}} </br>

		{%endif%}
	{%endfor%}

<table class="table_match">
	<tbody>
		<div class="subheader_container">
			<div class="subheader"> Les derniers Matchs de Version2 {{adversaires[0].NomEq1 }} </div>
		</div>
		{%for ad in adversaires %}
	
			{% if  adversaires[0].NomEq1 == ad.NomEq1 %}
				<tr class="unselectable tr_match">
					<td class="team_a">{{adversaires[0].NomEq1  }}</td> 
					<td class="team_mid">{{ad.Eq1But }}-{{ad.Eq2But }}</td>
					<td class="team_b">{{ad.NomEq2}}</td> 
				</tr>	
			{%endif%}
		{%endfor%}
	</tbody>
</table>
	
<table class="table_match">
	<tbody>
		<div class="subheader_container">
				<div class="subheader"> Les derniers Matchs de {{adversaires[1].NomEq2 }} </div>
		</div>
		{%for ad in adversaires %}
		
			{% if  adversaires[1].NomEq2 == ad.NomEq1 %}
				<tr class="unselectable tr_match">
					<td class="team_a">{{adversaires[1].NomEq2 }}</td>
					<td class="team_mid">{{ad.Eq1But }}-{{ad.Eq2But }}</td>
					<td class="team_b">{{ad.NomEq2}} </td>
			{%endif%}
		{%endfor%}
	</tbody>
</table>

{%endblock%}
