
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} -{{joueur.nomJ}} {% endblock %}

{% block body %}


<div class="gauche">
	<div id="inf_gen">
		<p> ID : {{joueur.id}}</p>
		<p> Nom : {{joueur.nomJ}}</P>
		<P> Prenom : {{joueur.prenomJ}}</P>
		<p> Poste de Prédilection : {{joueur.poste.libellePoste}} {{joueur.poste.descripPoste}} </p>
		<p> Né le : {{joueur.dateNaiss|date('d/m/Y')}}</p>
	</div>
	<div id="stat">
		<p> Les statisitique du joueur </p>
		<table>
			<tr>
				<td>Nom Compet</td>
				<td>But</td>
				<td>Passe Dec</td>
				<td>Duel Gag</td>
				<td>Interception</td>
				<td>Recuperation</td>
				<td>Arret</td>
				<td>Tacle</td>
				<td>Carton J</td>
				<td>Carton R</td>
			</tr>
			{% for compet in stat %}
			<tr>
				<td>{{compet['nom']}}</td>
				<td>{{compet['but']}}</td>
				<td>{{compet['passe']}}</td>
				<td>{{compet['duel']}}</td>
				<td>{{compet['inter']}}</td>
				<td>{{compet['recup']}}</td>
				<td>{{compet['arret']}}</td>
				<td>{{compet['tacle']}}</td>
				<td>{{compet['cartonJ']}}</td>
				<td>{{compet['cartonR']}}</td>
			</tr>
			{%endfor%}
		</table>
	</div>
</div>

<div class="droite">
	<p>Liste des joueurs</p>
		<ul>
			{% for coeq in coequipiers%}
				<li>
					<a href="{{ path('statisfoot_joueur', {'id': coeq.joueur.id}) }}">
					{{coeq.joueur.id}}
					{{coeq.joueur.nomJ}}
					{{coeq.joueur.prenomJ}}
					{{coeq.joueur.poste.libellePoste}}
					</a>
				</li>
			{% endfor %}
		</ul>
</div>	

{% endblock %}