
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} -{{joueur.nomJ}} {% endblock %}

{% block body %}


<div class="haut">

	<div class="inf_gen">
		<div id="photo">
			<img src="{{asset('bundles/ProjetStatisfoot/images/messi.jpg')}}" width="220" height="200"  alt="photo">
		</div>
		<div>
			<p> ID : {{joueur.id}}</p>
			<p> Nom : {{joueur.nomJ}}</P>
			<P> Prenom : {{joueur.prenomJ}}</P>
			<p> Poste de Prédilection : {{joueur.poste.libellePoste}} {{joueur.poste.descripPoste}} </p>
			<p> Né le : {{joueur.dateNaiss|date('d/m/Y')}}</p>
		</div>
	</div>
	<div id="coep">
		<div >Liste des joueurs</div>
		<table class="table_match">
		<tr class="head_tab"> 
			<td> N°</td>
			<td>Nom</td>
			<td>Poste</td>
			<td>Description</td>
		</tr>
			{% for coep in coequipiers%}
				<tr class="unselectable tr_match">
					<td>
						{{coep.joueur.id}}
					</td>
					<td>
						<a href="{{ path('statisfoot_joueur', {'id': coep.joueur.id}) }}">								
						{{coep.joueur.nomJ}}
						{{coep.joueur.prenomJ}}
						</a>
					</td>
					<td>
						{{coep.joueur.poste.libellePoste}}
					</td>
					<td>
						{{coep.joueur.poste.descripPoste}}
					</td>
	
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
<div class="bas">	
	<div id="stat">
		<p> Les statisitique du joueur </p>
		<table >
			<tr class="head_tab">
				<td>Nom Compet</td>
				<td>But</td>
				<td>Passe Dec</td>
				<td>Duel Gag</td>
				<td>Interception</td>
				<td>Recuperation</td>
				<td>Arret</td>
				<td>Tacle</td>
				<td>Carton J</td>
				<td>Carton R</td>
			</tr>
			{% for compet in stat %}
			<tr class="unselectable tr_match">
				<td>
					<a href="{{ path('statisfoot_compet', {'id': compet['id']}) }}">
					{{compet['nom']}}
					</a>
				</td>
				<td>{{compet['but']}}</td>
				<td>{{compet['passe']}}</td>
				<td>{{compet['duel']}}</td>
				<td>{{compet['inter']}}</td>
				<td>{{compet['recup']}}</td>
				<td>{{compet['arret']}}</td>
				<td>{{compet['tacle']}}</td>
				<td>{{compet['cartonJ']}}</td>
				<td>{{compet['cartonR']}}</td>
			</tr>
			{%endfor%}
		</table>
	</div>
	<div id="tranfert">
		<p> Les equipes du joueur </p>
		<table >
			<tr class="head_tab">
				<td>Debut Contrat</td>
				<td>Club</td>
				<td>Niveau</td>
			</tr>
			{% for equipe in lesEquipes %}
			<tr class="unselectable tr_match">
				<td>{{equipe['date']|date('d/m/Y')}}</td>
				<td>
					<a href="{{ path('statisfoot_equipe', {'id': equipe['id']}) }}">	
						{{equipe['nomC']}} {{equipe['nomE']}}
					<a/>
				</td>
				<td>{{equipe['niv']}}</td>
			</tr>
			{%endfor%}
		</table>
	</div>
</div>

{% endblock %}