<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>STATIS-FOOT</title>
</head>
<body>
	{% for joueur in joueurs%}
		{{joueur.joueur.id}}
		{{joueur.joueur.nomJ}}
		{{joueur.joueur.prenomJ}}
		{{joueur.joueur.poste.libellePoste}}
		{{joueur.joueur.dateNaiss|date('d/m/Y')}}</br>
	{% endfor %}
</body>
</html>