
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - ListeEquipe{% endblock %}

{% block body %}

<div class="gauche">
	<ul>
		{%for equipe in listeEquipe%}
		<li class="news">
			<ul>
				<li>{{equipe.id}}</li>
				<li><a href="{{ path('statisfoot_equipe', {'id': equipe.id}) }}">{{equipe.nom}}</a></li>
				<li>{{equipe.niveau.libelleNiv}}</li>
			</ul>	
		</li>
		{%endfor%}
	</ul>
</div>

{% endblock %}
