
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{compet.nom}}{% endblock %}

{% block body %}
 
<div class="gauche">

	<div class="haut">
		{{compet.nomCompet}}
	</div>
	<div class="titre">Les maths du jour</div>
		 <ul >
		      {% for match in listeMatch %}
		      <li class ="news">
		        <ul>
		          <li>{{match['NomEq1']}}</li>
		          <li>{{match['Eq1But']}} <a href="{{ path('statisfoot_match', {'id': match['idMatch']}) }}"> VS </a></li>
		          <li>{{match['Eq2But']}}</li>
		          <li>{{match['NomEq2']}}</li>
		        </ul>
		      </li>
		      {% endfor %}
		 </ul>
	</div>
</div>

<div class="droite">
	<h3>Le classement</h3>
	<ul>
		{% for equipe in classement %}
		<li>{{equipe['idEq']}} : {{equipe['nbJour']}} {{equipe['nomEq']}}  {{equipe['buts']}} {{equipe['points']}} </li>
		{% endfor %}
	</ul>
</div>
{% endblock %}