<!DOCTYPE html>

<html>

<head>
	{% stylesheets 'bundles/ProjetStatisfoot/css/style.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
  <meta charset="utf-8">
  <title>STATIS-FOOT</title>
</head>

<body>
<ul>
	{%for match in listeMatch%}
	<li class="news">
		<ul>
			<li>{{match['idMatch']}}</li>
			<li>{{match['heure']|date('d/m/Y')}}</li>
			<li>{{match['NomEq1']}}</li>
			<li>{{match['Eq1But']}} : {{match['Eq2But']}} </li>
			<li>{{match['NomEq2']}}</li>
		</ul>	
	</li>
	{%endfor%}
</ul>
</body>
</html>