<!DOCTYPE html>

<html>

<head>

  <meta charset="utf-8">

  <title>STATIS-FOOT</title>
</head>


<body>
<ul>
	{%for match in listeMatch%}
	<li>
		{{match['idMatch']}}
		{{match['heure']|date('d/m/Y')}}
		{{match['NomEq1']}}
		{{match['Eq1But']}} :
		{{match['Eq2But']}}
		{{match['NomEq2']}}		
	</li>
	{%endfor%}
</ul>
</body>
</html>