
{% extends "ProjetStatisfootBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - {{compet.nomCompet}}{% endblock %}

{% block body %}

<div class="bloc_middle">

				<div class="table_container">
					<div class="table_titre">MATCHS DU JOUR</div>
						<div class="table_ligue">					
							<div class="subheader_container">
								<div class="subheader"> Championnat B </div>
							</div>
							<table class="table_match">
							  <tbody>
							    {% for match in listeMatch %}
							    <tr class="unselectable tr_match">
							      <td>
							      	<span class="match_state_hours">15h00</span>
							      </td>
							      <td class="team_a">{{match['NomEq1']}}</td>
							       <td class="team_mid">  
							       		<a href="{{ path('statisfoot_match', {'id': match['idMatch']}) }}">
							        		{{match['Eq1But']}} - {{match['Eq2But']}}
							       		</a>
							       </td>
							      <td class="team_b">{{match['NomEq2']}}</td>
							    </tr>
							    {% endfor %}
							  </tbody>
							</table>
						</div>
					</div>

				<div class="droite">
					<div class="table_titre">Le classement des équipes</div>
					<table id="classm">
						<tr class="head_tab">
							<td>Nom</td>
							<td>Match</td>
							<td>Buts</td>
							<td>Point</td>
						</tr>
						{% for equipe in classement %}
						<tr class="unselectable tr_match">
							<td>
								<a href="{{ path('statisfoot_equipe', {'id': equipe['idEq']}) }}">
							     		{{equipe['nomEq']}}
							    </a>
							</td>
							<td>
								{{equipe['nbJour']}}
							</td>
							<td>
							   {{equipe['buts']}}
							</td> 
							<td>
							 	<b>{{equipe['points']}}</b>
							</td>
						 </tr>
						{% endfor %}
					</table>
					<div class="table_titre">Le classement des buteurs</div>
					<table>
						<tr class="head_tab">
							<td>Nom</td>
							<td>Match</td>
							<td>Buts</td>
						</tr>
						{% for joueur in classementButeurs %}
						<tr class="unselectable tr_match">
							<td>
								<a href="{{path('statisfoot_joueur',{'id' : joueur['idJ']})}}">
							 		{{joueur['nomJ']}}  {{joueur['prenomJ']}}  
								</a>
							</td>
							<td>
								{{joueur['nbrM']}}
							</td>
							<td>
								<b>{{joueur['buts']}}</b>
							</td>
						</tr>
						{% endfor %}
					</table>
				</div>
</div>


{% endblock %}